[Desktop Entry]
Name=PREFERENCES_EDITOR
Name[ar]=PREFERENCES_EDITOR
Name[bg]=PREFERENCES_EDITOR
Name[ca]=PREFERENCES_EDITOR
Name[cs]=PREFERENCES_EDITOR
Name[da]=PREFERENCES_EDITOR
Name[de]=PREFERENCES_EDITOR
Name[es]=PREFERENCES_EDITOR
Name[fi]=PREFERENCES_EDITOR
Name[fr]=PREFERENCES_EDITOR
Name[fur]=PREFERENCES_EDITOR
Name[he]=PREFERENCES_EDITOR
Name[hu]=PREFERENCES_EDITOR
Name[id]=PREFERENCES_EDITOR
Name[it]=PREFERENCES_EDITOR
Name[ko]=PREFERENCES_EDITOR
Name[nl]=PREFERENCES_EDITOR
Name[pl]=PREFERENCES_EDITOR
Name[pt]=PREFERENCES_EDITOR
Name[pt_BR]=PREFERENCES_EDITOR
Name[ru]=PREFERENCES_EDITOR
Name[sk]=PREFERENCES_EDITOR
Name[sq]=PREFERENCES_EDITOR
Name[sr]=PREFERENCES_EDITOR
Name[sv]=PREFERENCES_EDITOR
Name[tr]=PREFERENCES_EDITOR
Name[uk]=PREFERENCES_EDITOR
Name[zh_CN]=PREFERENCES_EDITOR
Name[zh_TW]=PREFERENCES_EDITOR
GenericName=PREFERENCES_EDITOR
GenericName[ru]=Редактор групповых политик
X-GNOME-FullName=PREFERENCES_EDITOR
Comment=Group Policy Editor
Comment[ru]=Редактор групповых политик
Exec=preferences_editor-main
Terminal=false
Type=Application
Categories=System;FileTools;
Icon=preferences_editor
